<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="header.component.css">
</head>
<body>
    
<div class="nav-bar">
    <div class="logo">
        <h1 class="title">
           <span><a routerLink="" ><i class='bx bxs-bowl-hot'></i>Restaurent name</a> </span>
        </h1>
    </div>
    <div class="nav-links">
        <ul>
            <a routerLink="menu"><li>Menu</li></a>
            <a routerLink="cart-page"><li>Cart</li></a>
            <a routerLink="contact"><li>contact us</li></a>
            
        </ul>
    </div>
</div>
<!-- menu and food -->
</body>
</html>