<app-search></app-search>
<app-tags></app-tags>
<app-not-found  [visible]="Foods.length <= 0" 
        notFoundMessage="Search Not Found"
        resetLinkText="go back to menu"
    >

</app-not-found>
<div class="container" *ngIf="Foods.length > 0" >
    <div class="cards-container" [class.long]="toolong" *ngFor="let ele of Foods">
        <div class="img-container">
            <img [src]="ele.imgUrl" alt="No Content">
        </div>
        <div class="description">
            <h1 > {{ele.name}}<span class="favorite" [class.isFavorite]="ele.favorite==true" (click)="ele.favorite=!ele.favorite"><i class='bx bxs-heart' ></i></span></h1>
            <h3> {{ele.price}} <span class="dzd">dzd</span></h3>
            <star-rating 
            [value]="ele.stars" 
            [totalstars]="5" 
            checkedcolor="red" 
            uncheckedcolor="black" 
            size="24px" 
            [readonly]="true" 
            >
        </star-rating>
        
        </div>
        <div class="addToCart" ><button> <a routerLink="/food/{{ele.id}}">Add To Cart</a></button></div>
    </div>
   
</div>